body{
    background-color: #12c394
}
p{
    background-color: yellow;
    font-size: 20px;
    font-family: "Comic Sans MS";
}
.class1{
    background-color: #FFC700;
    font-size: 22px;
    font-family: "Apple Braille";
    color: #03317c;
}
/*#signup{*/
/*    background-color: chartreuse;*/
/*}*/
.btn1{
    background-color: #04fc04;
    font-size: 25px;
}

/*.btnFont{*/
/*    font-family: "Droid Sans";*/
/*}*/


.btn1:hover {
    background-color: #027a02;
    font-size: 25px;
}
